
.app{
    background-image: url(img/fondo4.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
}
.app__tittle{
    position: relative;
    /* depende del contexto */
    top: 0.1em;
    /* depnde del HTML */
    font-size: 2rem;
    padding: 1rem;

}
@media (max-width: 768px) {
    .card {
      min-width: 90%; /* Porcentaje adecuado */
      /* Otros ajustes necesarios para pantallas más pequeñas */
    }
}  
.card{
    background-image: url(/public/img/rectangle1.svg);
    /* background-size: cover; */
    background-size: auto;
    background-position: initial;
    min-width: 90%; /* Porcentaje adecuado */
    max-width: 400px;
    min-height: 32.5vh;
    height: 100%;
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    
}
.btn{
    padding: 1.5em;
    border-radius: 0.5em;
    background-color: #E3F2C1;
    font-weight: 500;
    color: #0C134F;
    border: 0.2em solid currentColor ;
    transition: transform 100ms, filter 100ms ease;
    width: 200px;
}
.btn:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}
.footer{
    position: relative;
    padding-top: 3em;
}
